.title {
  color: #2b236b;
  font-family: "Silkscreen", cursive;
  margin: 0;
  text-align: center;
  margin-top: 60px;
}
body {
  background-image: url("./background.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}
.button {
  width: 150px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  background: #a42d70;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  padding: 10px 20px 10px;
  flex-direction: row;
  background: linear-gradient(90deg, #a42d70 0%, #a42d70 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(103, 19, 60, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.button:hover,
.button:focus {
  color: #fff;
  transform: translateY(-6px);
}
button:hover::before,
button:focus::before {
  opacity: 1;
}
button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ef75c4;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.content-button {
  width: 150px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 100px 0px;
}
.content-principal {
  margin-bottom: 100px;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper .box {
  position: relative;
  width: 340px;
  height: 400px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
}
.description {
  color: #fff;
  font-family: "Silkscreen", cursive;
  text-align: justify;
  padding: 20px;
}
p {
  color: #fff;
  font-family: "Silkscreen", cursive;
  text-align: justify;
}
ul {
  list-style: none;
  width: 100%;
  display: flex;
  padding: 1px;
  align-items: center;
  justify-content: space-between;
}
ul a {
  color: white;
  text-decoration: none;
}
li {
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
i {
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s ease;
}
li:hover .fa-github {
  transform: translate3d(0, -10px, 20px);
  color: gray;
}
li:hover .fa-linkedin {
  transform: translate3d(0, -10px, 20px);
  color: #077099;
}
li:hover .fa-instagram {
  transform: translate3d(0, -10px, 20px);
  color: #b71787;
}
.title-count{
  color: white;
  text-align: center;
  font-family: "Silkscreen", cursive;
  margin: 0;
  font-size: 20px;
  margin-top: 25px;
}
.content-count {
  color: white;
  text-align: center;
  padding-top: 30px;
  font-family: "Silkscreen", cursive;
  
  display: flex;
  gap: 20px;
}
.content-count div{
  width: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}
.content-count h1 {
  font-size: 22px;
  margin:0;
}
.content-count span {
  font-size: 10px;
  margin:0;
}

